{% assign city = brand.object.metafields.location.city %}
{% assign state_or_region = brand.object.metafields.location.state_or_region %}
{% assign country = brand.object.metafields.location.country %}

<a class="u-block" href="{{ brand.url }}" title="{{ brand.title }}">
	<figure>
	    <div class="img-container img-container--portrait"><img alt="{{ brand.object.title }}" src="{{ brand.object.image | img_url: '1024x' }}"></div>
	    <figcaption>
	        <h3>{{ brand.object.title }}</h3>
	        <p><small><span class="brand-uppercase">{{ city }}</span>, {{ state_or_region | upcase }}, {{ country | upcase }}</small></p> 
	    </figcaption>
	</figure>
</a>