{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">

            {% if collection.metafields.custom_fields["creator_height"] != blank %}
            <div class="custom-field custom-field__creator-height custom-field__type--integer">
                <h3 class="custom-field--title">creator_height</h3>
                <div class="custom-field--value">{{ collection.metafields.custom_fields["creator_height"] }}</div>
              </div>
            {% endif %}

            {% if collection.metafields.custom_fields["creator_hips"] != blank %}
            <div class="custom-field custom-field__creator-hips custom-field__type--integer">
                <h3 class="custom-field--title">creator_hips</h3>
                <div class="custom-field--value">{{ collection.metafields.custom_fields["creator_hips"] }}</div>
              </div>
            {% endif %}

            {% if collection.metafields.custom_fields["creator_waist"] != blank %}
            <div class="custom-field custom-field__creator-waist custom-field__type--integer">
                <h3 class="custom-field--title">creator_waist</h3>
                <div class="custom-field--value">{{ collection.metafields.custom_fields["creator_waist"] }}</div>
              </div>
            {% endif %}

            {% if collection.metafields.custom_fields["creator_chest_or_bust"] != blank %}
            <div class="custom-field custom-field__creator-chest-or-bust custom-field__type--integer">
                <h3 class="custom-field--title">creator_chest_or_bust</h3>
                <div class="custom-field--value">{{ collection.metafields.custom_fields["creator_chest_or_bust"] }}</div>
              </div>
            {% endif %}

            {% if collection.metafields.custom_fields["city"] != blank %}
            <div class="custom-field custom-field__city custom-field__type--text">
                <h3 class="custom-field--title">city</h3>
                <div class="custom-field--value">{{ collection.metafields.custom_fields["city"] }}</div>
              </div>
            {% endif %}

            {% if collection.metafields.custom_fields["state_or_region"] != blank %}
            <div class="custom-field custom-field__state-or-region custom-field__type--text">
                <h3 class="custom-field--title">state_or_region</h3>
                <div class="custom-field--value">{{ collection.metafields.custom_fields["state_or_region"] }}</div>
              </div>
            {% endif %}

            {% if collection.metafields.custom_fields["country"] != blank %}
            <div class="custom-field custom-field__country custom-field__type--text">
                <h3 class="custom-field--title">country</h3>
                <div class="custom-field--value">{{ collection.metafields.custom_fields["country"] }}</div>
              </div>
            {% endif %}

            {% if collection.metafields.custom_fields["collection_type"] != blank %}
            <div class="custom-field custom-field__collection-type custom-field__type--text">
                <h3 class="custom-field--title">collection_type</h3>
                <div class="custom-field--value">{{ collection.metafields.custom_fields["collection_type"] }}</div>
              </div>
            {% endif %}

            {% if collection.metafields.custom_fields["creator_style_1"] != blank %}
            <div class="custom-field custom-field__creator-style-1 custom-field__type--text">
                <h3 class="custom-field--title">creator_style_1</h3>
                <div class="custom-field--value">{{ collection.metafields.custom_fields["creator_style_1"] }}</div>
              </div>
            {% endif %}

            {% if collection.metafields.custom_fields["creator_style_2"] != blank %}
            <div class="custom-field custom-field__creator-style-2 custom-field__type--text">
                <h3 class="custom-field--title">creator_style_2</h3>
                <div class="custom-field--value">{{ collection.metafields.custom_fields["creator_style_2"] }}</div>
              </div>
            {% endif %}
</div>