{% if template contains 'product' %}

	{% assign sold_out = true %}

	{% if product.available %}
	    {% assign sold_out = false %}
	    {% assign on_sale = false %}

	    {% if product.compare_at_price > product.price %}
	        {% assign on_sale = true %}
	        {% comment %}@TODO sale price {% endcomment %}
	        <span style="text-decoration:line-through;">{{ product.compare_at_price | money }}</span> <span style="color: red;">{{ product.price | money }}</span>
	    {% else %}
	        {{ product.price | money }}
	    {% endif %}
	{% else %}
	    Sold Out.
	{% endif %}

{% else %}

	{% assign sold_out = true %}

	{% if product.available %}
	    {% assign sold_out = false %}
	    {% assign on_sale = false %}

	    {% if product.compare_at_price > product.price %}
	        {% assign on_sale = true %}
	        {% comment %}@TODO sale price {% endcomment %}
	        <p><small><span style="text-decoration:line-through;">{{ product.compare_at_price | money }}</span> <span style="color: red;">{{ product.price | money }}</span></small></p>
	    {% else %}
	        <p><small>{{ product.price | money }}</small></p>
	    {% endif %}
	{% else %}
	    <p><small>Sold Out.</small></p>
	{% endif %}

{% endif %}