{% for type in collection.all_types %}

    {% if type == 'Clothing' %}
        <li class="nested-lists__item">
            <a class="nested-lists__link" href="#">{{ type }}</a>
            <ul class="nested-lists__list">
                {% for tag in collection.all_tags %}
                    {% if tag contains 'clothing-'  %}
                        {% assign strip_prefix = tag | remove: "clothing-" %}
                        
                        <li class="nested-lists__item">
                            <a class="nested-lists__link uppercase" href="{{ tag | handleize | prepend:'/' | within: collection }}">{{ strip_prefix }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li> 
    {% elsif type == 'Jewelry' %}
        <li class="nested-lists__item">
            <a class="nested-lists__link" href="#">{{ type }}</a>
            <ul class="nested-lists__list">
                {% for tag in collection.all_tags %}
                    {% if tag contains 'jewelry-' %}

                        {% assign strip_prefix = tag | remove: "jewelry-" %}
                        
                        <li class="nested-lists__item">
                            <a class="nested-lists__link uppercase" href="{{ tag | handleize | prepend:'/' | within: collection }}">{{ strip_prefix }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li> 
    {% elsif type == 'Bags' %}
        <li class="nested-lists__item">
            <a class="nested-lists__link" href="#">{{ type }}</a>
            <ul class="nested-lists__list">
                {% for tag in collection.all_tags %}
                    {% if tag contains 'bags-' %}

                        {% assign strip_prefix = tag | remove: "bags-" %}
                        
                        <li class="nested-lists__item">
                            <a class="nested-lists__link uppercase" href="{{ tag | handleize | prepend:'/' | within: collection }}">{{ strip_prefix }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li> 
    {% elsif type == 'Shoes' %}
        <li class="nested-lists__item">
            <a class="nested-lists__link" href="#">{{ type }}</a>
            <ul class="nested-lists__list">
                {% for tag in collection.all_tags %}
                    {% if tag contains 'shoes-' %}

                        {% assign strip_prefix = tag | remove: "shoes-" %}
                        
                        <li class="nested-lists__item">
                            <a class="nested-lists__link uppercase" href="{{ tag | handleize | prepend:'/' | within: collection }}">{{ strip_prefix }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li> 
    {% elsif type == 'Accessories' %}
        <li class="nested-lists__item">
            <a class="nested-lists__link" href="#">{{ type }}</a>
            <ul class="nested-lists__list">
                {% for tag in collection.all_tags %}
                    {% if tag contains 'accessories-' %}

                        {% assign strip_prefix = tag | remove: "accessories-" %}
                        
                        <li class="nested-lists__item">
                            <a class="nested-lists__link uppercase" href="{{ tag | handleize | prepend:'/' | within: collection }}">{{ strip_prefix }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li> 
    {% endif %}
{% endfor %}