<section class="drawer drawer--bigHeader drawer--right drawer--dark drawer--medium shipping-drawer" id="shipping-drawer">
    <a class="drawer__backdrop" href="#close-drawer" title="Close Drawer"></a>
    <div class="drawer__frame">
        <div class="drawer__header">
            <div class="drawer__headerContent">
                <h2 class="title title--small">Shipping Info</h2>
            </div>
            <a class="drawer__close close close--medium" href="#close-drawer" title="Close Drawer"></a>
        </div>
        <div class="drawer__scroller">
            <div class="drawer__content drawer__content--padded">
                <ul class="returns-drawer__list">
                    <li class="returns-drawer__listItem">Fulfilled By: <span class="unlabel-bold">{{ product.vendor }}</span></li>
                    
                    <li class="returns-drawer__listItem">Free Shipping within the <span class="unlabel-bold">USA</span> via <span class="unlabel-bold">{{ brand_shipping_carrier }}</span></li>

                    <li class="returns-drawer__listItem">Estimated Delivery: {% include 'carrier_delivery_estimation' %}</li>

                    {% if brand_shipping_notes_domestic != blank %}
                        <li class="returns-drawer__listItem">Shipping exclusions in the USA: <span class="unlabel-bold">{{ brand_shipping_notes_domestic | escape }}</span></li>
                    {% endif %}

                    {% if brand_shipping_notes_international != blank %}
                        <li class="returns-drawer__listItem">Shipping exclusions outside the USA: <span class="unlabel-bold">{{ brand_shipping_notes_international | escape }}</span></li>
                    {% endif %}

                    {% if brand_shipping_po_box == "YES" %}
                        <li class="returns-drawer__listItem">{{ product.vendor }} <span class="unlabel-bold">does</span> ship to <span class="unlabel-bold">P.O. Boxes</span></li>
                    
                    {% elsif  brand_shipping_po_box == "NO" %}
                        <li class="returns-drawer__listItem">{{ product.vendor }} <span class="unlabel-bold">does not</span> ship to <span class="unlabel-bold">P.O. Boxes</span></li>
                    {% endif %}
                    
                    <li class="returns-drawer__listItem">Please see our <a class="underline" href="/pages/faq">FAQ</a> for our policy on international shipping.</li>
                </ul>
            </div>
        </div>
    </div>
</section>