<!-- /templates/collection.creator-profile.liquid -->

{% assign city = collection.metafields.location.city %}
{% assign state_or_region = collection.metafields.location.state_or_region %}
{% assign country = collection.metafields.location.country %}

{% assign collection_type = collection.metafields.collection_type.type | downcase %}

{% paginate collection.products by 12 %}
    
    {% if paginate.pages == paginate.current_page %}
        {% assign current_displayed = paginate.items | modulo:paginate.page_size %}
    {% else %}
        {% assign current_displayed = collection.products_count %}
    {% endif %}

    <div class="container container--pad color-context c-mask {% if collection_type == 'creator' %}color-context--creator creator__overviewContainer{% else %} color-context--brand {% endif %}">
        {% if collection_type == 'creator' %}
            <div class="cols cols--m-gutter32 creator__overviewCols">
                <div class="col creator__overviewCol creator__overviewCol--visual">
                    <figure class="creator__overviewVisualCols">
                        <div class="creator__overviewVisualCol creator__overviewVisualCol--left">
                            <div class="img-container img-container--portrait">
                                <img src="{{ collection.image | img_url: '1024x' }}" alt="{{ collection.title }}">
                            </div>
                        </div>
                
                        <figcaption class="creator__overviewVisualCol creator__overviewVisualCol--info u-mobile-only">
                            <p class="title">{{ collection.title }}</p>
                            
                            {% if state_or_region != blank %}
                                <p class="creator__location"><span class="uppercase">{{ city | downcase }}</span>, {{ state_or_region | upcase }}, {{ country | upcase }}</p>
                            {% else %}
                                <p class="creator__location"><span class="uppercase">{{ city | downcase }}</span>, {{ country | upcase }}</p>
                            {% endif %}
                        </figcaption>
                    </figure>
                </div>
                <div class="col creator__overviewCol creator__overviewCol--info">
                    <div class="creator__infoHeader u-desktop-only">
                        <p class="title">{{ collection.title }}</p>
                        
                        {% if state_or_region != blank %}
                            <p class="creator__location"><span class="uppercase">{{ city | downcase }}</span>, {{ state_or_region | upcase }}, {{ country | upcase }}</p>
                        {% else %}
                            <p class="creator__location"><span class="uppercase">{{ city | downcase }}</span>, {{ country | upcase }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="cols cols--m-2 cols--m-gutter32">
                <div class="col brand__overviewCol">
                    <figure>
                        <div class="img-container img-container--landscape"><img alt="{{ collection.title }}" src="{{ collection.image | img_url: '1024x' }}"></div>
                    </figure>
                </div>
                <div class="col brand__overviewCol brand__overviewCol--info">
                    <div class="brand__infoHeader">
                        <h2 class="title">{{ collection.title }}</h2>
                        {% if state_or_region != blank %}
                            <p class="brand__location"><span class="uppercase">{{ city | downcase }}</span>, {{ state_or_region | upcase }}, {{ country | upcase }}</p>
                        {% else %}
                            <p class="brand__location"><span class="uppercase">{{ city | downcase }}</span>, {{ country | upcase }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="grid">
        <div class="grid__sidebar js-parallax js-scroll" data-repeat>   
            <div class="grid__sidebarWidget">
                {% if collection_type == 'creator' %}
                    <ul>
                        
                        {% assign styles = collection.metafields.style.type | split: "," %}
                        
                        {% for style in styles %}
                            <li class="tag"><span class="uppercase">{{ style | downcase }}</span></li>
                        {% endfor %}
                    </ul>
                    <div class="creator__bio">
                        {{ collection.description | strip_html | escape }}
                    </div>
                {% else %}
                    {{ collection.description | strip_html | escape }}
                {% endif %}
            </div>
            <div class="grid__sidebarWidget">
                <div class="share">
                    <p class="share__title">Share</p>
                    <ul class="share__list">
                        <li class="share__item">
                            <a href="mailto:?subject={{ collection.title | strip_html | escape }}'s {% if collection_type == 'creator' %}profile{% else %}store{% endif %} on Unlabel&body=https://unlabel-us.myshopify.com{{ collection.url }}" title="Share by Email"><span class="fonticon fonticon--email fonticon--smallBox"></span></a>
                        </li>
                        <li class="share__item">
                            <a href="https://www.facebook.com/dialog/share?app_id=1421811444777881&display=popup&https://unlabel-us.myshopify.com{{ collection.url }}&redirect_uri=https://unlabel-us.myshopify.com{{ collection.url }}" target="_blank" title="Share on Facebook"><span class="fonticon fonticon--facebook fonticon--smallBox"></span></a>
                        </li>
                        <li class="share__item">
                            <a href="https://twitter.com/share?url=https://unlabel-us.myshopify.com{{ collection.url }}&text={{ collection.title }}'s {% if collection_type == 'creator' %}profile{% else %}store{% endif %} on Unlabel" target="_blank" title="Share on Twitter"><span class="fonticon fonticon--twitter fonticon--smallBox"></span></a>
                        </li>
                        <li class="share__item">
                            <a href="http://pinterest.com/pin/create/button/?url=https://unlabel-us.myshopify.com{{ collection.url }}&description={{ collection.title | strip_html | escape }}'s {% if collection_type == 'creator' %}profile{% else %}store{% endif %} on Unlabel" target="_blank" title="Share on Pinterest"><span class="fonticon fonticon--pinterest fonticon--smallBox"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="grid__main">
            <div class="grid__banner"></div>
            <div class="grid__header">
                <div class="grid__headerTitle"></div>
                <div class="grid__headerNav">
                    <div class="grid__headerNavGroup"></div>
                    <div class="grid__headerNavGroup">  
                        <!-- // sort option -->     
                        <!-- <div>
                            <form>
                                <div class="select select--borderLess" name="SortBy" id="SortBy">
                                    <select>
                                        <option value="" disabled selected="">Sort By</option>
                                        <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
                                        <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
                                        <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
                                        <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
                                        <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
                                        <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
                                        <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
                                        <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
                                    </select>
                                </div>
                            </form>
                        </div> -->
                        <!-- // sort option-->
                        <div>
                            <strong>{{ current_displayed }}</strong>&nbsp;results
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="grid__content">
                <ol class="grid__list color-context color-context--products">
                    {% if collection.products_count == 0 %}
                        <div class="grid__emptyMessage">
                            {% if collection_type == 'creator' %}
                                <p class="missing">No products for now.</p>
                            {% else %} 
                                <p class="missing">Products launching soon for {{ collection.title }}!</p>
                            {% endif %}
                            
                        </div>
                    {% else %}  
                        {% for product in collection.products limit:16 %}
                            <li class="grid__item grid__item--s-2 grid__item--l-3 grid__item--xl-4 grid__item--xxl-5 js-parallax js-scroll" data-repeat>
                                {% include 'product-grid-item' %}
                            </li>
                        {% endfor %}
                    {% endif %}
                </ol>
            </div>
        </div>
    </div>
    {% include 'unlabel-paginate' %}
    <div class="u-desktop-only">
        <section class="triptych color-context {% if collection_type == 'creator' %}color-context--creator{% else %}color-context--brand{% endif %}">
            <div class="triptych__bg"></div>
            <div class="container container--m-pad">
                <div class="triptych__wrapper triptych__wrapper--thinner js-scroll js-parallax" data-repeat>
                    <header class="triptych__header">
                        <h2 class="title title--destructured title--caps title--oneWordPerLine">{% if collection_type == 'creator' %}More crea tors{% else %}More bra- nds{% endif %}</h2>
                    </header>
                    <div class="triptych__content">
                        <ul class="cols cols--m-3">
                            {% if collection_type == 'creator' %}
                                {% for obj in linklists.creators.links limit:4 %}
                                    {% unless obj.object.handle == collection.handle %}
                                        {% include 'triptych-block' %}
                                    {% endunless %}
                                {% endfor %}
                            {% else %}
                                {% for obj in linklists.brands.links limit:4 %}
                                    {% unless obj.object.handle == collection.handle %}
                                         {% include 'triptych-block' %}
                                    {% endunless %}
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>   
                </div>
            </div>
        </section>
    </div>
    <script>
      /*============================================================================
        Inline JS because collection liquid object is only available
        on collection pages and not external JS files
      ==============================================================================*/
      Shopify.queryParams = {};
      if (location.search.length) {
        console.log(location.search)
        for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
          aKeyValue = aCouples[i].split('=');
          if (aKeyValue.length > 1) {
            Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
          }
        }
      }

      $(function() {
        $('#SortBy')
          .val('{{ collection.sort_by | default: collection.default_sort_by }}')
          .bind('change', function() {
            Shopify.queryParams.sort_by = jQuery(this).val();
            location.search = jQuery.param(Shopify.queryParams);
          }
        );
      });
    </script>
{% endpaginate %}