<!-- /templates/collection.brands.liquid -->
<div class="container container--pad color-context color-context--brand">
    <div class="cols cols--m-2 cols--m-gutter32">
        <div class="col brand__overviewCol">
            <figure>
                <div class="img-container img-container--landscape"><img alt="Spyker" src="https://unlabel.s3.amazonaws.com/Brands/Chanel-bleu-studio-shot-by-alex-koloskov.jpg"></div>
            </figure>
        </div>
        <div class="col brand__overviewCol brand__overviewCol--info">
            <div class="brand__infoHeader">
                <h2 class="title">Spyker</h2>
                <p class="brand__location">Philadelphia, USA</p>
            </div>
            <div class="brand__infoContent">
                <form class="brand__followForm">
                    <button class="cta cta--dark" id="follow_button" onclick="onToggleFollow(event, '5')">Follow brand</button>
                </form>
                <p class="brand__nbOfFollowers" id="follow_count">followers</p>
            </div>
        </div>
    </div>
</div>
<div class="grid">
    <div class="grid__sidebar">
        <div class="grid__sidebarWidget">
            is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using &#39;Content here, content here&#39;, making i is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using &#39;Content here, content here&#39;, making i is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using &#39;Content here, content here&#39;, making i
        </div><!--<div class="grid__sidebarWidget u-desktop-only">-->
        <!--<div class="filters">-->
        <!--<div class="filters__category">-->
        <!--<h3 class="subtitle">Filters</h3>-->
        <!--<ul class="filters__list">-->
        <!---->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <div class="grid__sidebarWidget">
            <!-- TODO : make it share the current page using providers SDKs -->
            <!-- TODO : add dynamic content (text, subject, desc, etc) for each providers -->
            <div class="share">
                <p class="share__title">Share</p>
                <ul class="share__list">
                    <li class="share__item">
                        <a href="mailto:?subject=&body=http://35.166.138.246/partners/brand/spyker/" title="Share by Email"><span class="fonticon fonticon--email fonticon--smallBox"></span></a>
                    </li>
                    <li class="share__item">
                        <a href="https://www.facebook.com/dialog/share?app_id=test&display=popup&href=http://35.166.138.246/partners/brand/spyker/&redirect_uri=http://35.166.138.246/partners/brand/spyker/" target="_blank" title="Share on Facebook"><span class="fonticon fonticon--facebook fonticon--smallBox"></span></a>
                    </li>
                    <li class="share__item">
                        <a href="https://twitter.com/share?url=http://35.166.138.246/partners/brand/spyker/&text=http://35.166.138.246/partners/brand/spyker/" target="_blank" title="Share on Twitter"><span class="fonticon fonticon--twitter fonticon--smallBox"></span></a>
                    </li>
                    <li class="share__item">
                        <a href="http://pinterest.com/pin/create/button/?url=http://35.166.138.246/partners/brand/spyker/&description=http://35.166.138.246/partners/brand/spyker/" target="_blank" title="Share on Pinterest"><span class="fonticon fonticon--pinterest fonticon--smallBox"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="grid__main">
        <div class="grid__banner"></div>
        <div class="grid__header">
            <div class="grid__headerTitle"></div>
            <div class="grid__headerNav">
                <div class="grid__headerNavGroup">
                    <a class="link link--thick u-mobile-only" href="#drawer-filters">Filters</a>
                    <div class="drawer drawer--right" id="drawer-filters">
                        <a class="drawer__backdrop" href="#close-drawer" title="Close Filters"></a>
                        <div class="drawer__frame">
                            <div class="drawer__header drawer__header--bar">
                                <div class="drawer__headerContent">
                                    <span class="title title--small">Filters</span>
                                </div><a class="drawer__close close" href="#close-drawer" title="Close Filters"></a>
                            </div>
                            <div class="drawer__scroller">
                                <div class="drawer__content">
                                    <div class="nested-lists">
                                        <ul class="nested-lists__list drawer__list"></ul>
                                    </div>
                                    <div class="drawer__actions">
                                        <a class="cta cta--dark cta--block">Apply Filters</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid__headerNavGroup">
                    <div>
                        <form>
                            <div class="select select--borderLess">
                                <select>
                                    <option disabled selected value="">
                                        Sort By
                                    </option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div>
                        <strong>0</strong>&nbsp;results
                    </div>
                </div>
            </div>
        </div>
        <div class="grid__content">
            <ol class="grid__list color-context color-context--products">
                <li class="grid__item grid__item--s-2 grid__item--l-3 grid__item--xl-4 grid__item--xxl-5">
                    <article>
                        <div class="grid__itemInner">
                            <a class="u-block" href="/catalogue/magma_97/" title="Magma">
                            <figure>
                                <div class="img-container img-container--square"><img alt="Magma" height="284" src="http://unlabel.s3.amazonaws.com/cache/d6/4b/d64b5f80eeef805e9047d1ea418fd3c4.jpg" width="284"></div>
                                <figcaption>
                                    <h2>Magma</h2>
                                    <h3><small>Spyker</small></h3>
                                </figcaption>
                            </figure></a>
                        </div>
                    </article>
                </li>
                <li class="grid__item grid__item--s-2 grid__item--l-3 grid__item--xl-4 grid__item--xxl-5">
                    <article>
                        <div class="grid__itemInner">
                            <a class="u-block" href="/catalogue/shorts_95/" title="Shorts">
                            <figure>
                                <div class="img-container img-container--square"><img alt="Shorts" height="284" src="http://unlabel.s3.amazonaws.com/cache/ef/c0/efc0b3dcc686ce5336bc18cbf85b7876.jpg" width="284"></div>
                                <figcaption>
                                    <h2>Shorts</h2>
                                    <h3><small>Spyker</small></h3>
                                    <p><small>$12.00</small></p>
                                </figcaption>
                            </figure></a>
                        </div>
                    </article>
                </li>
                <li class="grid__item grid__item--s-2 grid__item--l-3 grid__item--xl-4 grid__item--xxl-5">
                    <article>
                        <div class="grid__itemInner">
                            <a class="u-block" href="/catalogue/shorts_94/" title="Shorts">
                            <figure>
                                <div class="img-container img-container--square"><img alt="Shorts" height="284" src="http://unlabel.s3.amazonaws.com/cache/ef/c0/efc0b3dcc686ce5336bc18cbf85b7876.jpg" width="284"></div>
                                <figcaption>
                                    <h2>Shorts</h2>
                                    <h3><small>Spyker</small></h3>
                                </figcaption>
                            </figure></a>
                        </div>
                    </article>
                </li>
                <li class="grid__item grid__item--s-2 grid__item--l-3 grid__item--xl-4 grid__item--xxl-5">
                    <article>
                        <div class="grid__itemInner">
                            <a class="u-block" href="/catalogue/shorts_93/" title="Shorts">
                            <figure>
                                <div class="img-container img-container--square"><img alt="Shorts" height="284" src="http://unlabel.s3.amazonaws.com/cache/ef/c0/efc0b3dcc686ce5336bc18cbf85b7876.jpg" width="284"></div>
                                <figcaption>
                                    <h2>Shorts</h2>
                                    <h3><small>Spyker</small></h3>
                                    <p><small>$12.00</small></p>
                                </figcaption>
                            </figure></a>
                        </div>
                    </article>
                </li>
                <li class="grid__item grid__item--s-2 grid__item--l-3 grid__item--xl-4 grid__item--xxl-5">
                    <article>
                        <div class="grid__itemInner">
                            <a class="u-block" href="/catalogue/belt_81/" title="Belt">
                            <figure>
                                <div class="img-container img-container--square"><img alt="Belt" height="284" src="http://unlabel.s3.amazonaws.com/cache/50/0f/500f34e5dc9cc2ead033f0aee1dc06ea.jpg" width="284"></div>
                                <figcaption>
                                    <h2>Belt</h2>
                                    <h3><small>Spyker</small></h3>
                                    <p><small>$120.00</small></p>
                                </figcaption>
                            </figure></a>
                        </div>
                    </article>
                </li>
                <li class="grid__item grid__item--s-2 grid__item--l-3 grid__item--xl-4 grid__item--xxl-5">
                    <article>
                        <div class="grid__itemInner">
                            <a class="u-block" href="/catalogue/magma_23/" title="Magma">
                            <figure>
                                <div class="img-container img-container--square"><img alt="Magma" height="284" src="http://unlabel.s3.amazonaws.com/cache/d6/4b/d64b5f80eeef805e9047d1ea418fd3c4.jpg" width="284"></div>
                                <figcaption>
                                    <h2>Magma</h2>
                                    <h3><small>Spyker</small></h3>
                                </figcaption>
                            </figure></a>
                        </div>
                    </article>
                </li>
                <li class="grid__item grid__item--s-2 grid__item--l-3 grid__item--xl-4 grid__item--xxl-5">
                    <article>
                        <div class="grid__itemInner">
                            <a class="u-block" href="/catalogue/lava_21/" title="Lava">
                            <figure>
                                <div class="img-container img-container--square"><img alt="Lava" height="284" src="http://unlabel.s3.amazonaws.com/cache/9f/fe/9ffef47c5ea4c201a2c3233cb810b2f5.jpg" width="284"></div>
                                <figcaption>
                                    <h2>Lava</h2>
                                    <h3><small>Spyker</small></h3>
                                    <p><small>$177.00</small></p>
                                </figcaption>
                            </figure></a>
                        </div>
                    </article>
                </li>
                <li class="grid__item grid__item--s-2 grid__item--l-3 grid__item--xl-4 grid__item--xxl-5">
                    <article>
                        <div class="grid__itemInner">
                            <a class="u-block" href="/catalogue/elixir_19/" title="Elixir">
                            <figure>
                                <div class="img-container img-container--square"><img alt="Elixir" height="284" src="http://unlabel.s3.amazonaws.com/cache/c2/65/c265e475176f39ba5b0762f5f29bca7a.jpg" width="284"></div>
                                <figcaption>
                                    <h2>Elixir</h2>
                                    <h3><small>Spyker</small></h3>
                                    <p><small>$110.00</small></p>
                                </figcaption>
                            </figure></a>
                        </div>
                    </article>
                </li>
                <li class="grid__item grid__item--s-2 grid__item--l-3 grid__item--xl-4 grid__item--xxl-5">
                    <article>
                        <div class="grid__itemInner">
                            <a class="u-block" href="/catalogue/test_17/" title="Vernol">
                            <figure>
                                <div class="img-container img-container--square"><img alt="Vernol" height="284" src="http://unlabel.s3.amazonaws.com/cache/d8/0c/d80c3e4fb6684410b59df0376c51167a.jpg" width="284"></div>
                                <figcaption>
                                    <h2>Vernol</h2>
                                    <h3><small>Spyker</small></h3>
                                    <p><small>$33.00</small></p>
                                </figcaption>
                            </figure></a>
                        </div>
                    </article>
                </li>
                <li class="grid__item grid__item--s-2 grid__item--l-3 grid__item--xl-4 grid__item--xxl-5">
                    <article>
                        <div class="grid__itemInner">
                            <a class="u-block" href="/catalogue/product1_15/" title="product1">
                            <figure>
                                <div class="img-container img-container--square"><img alt="product1" height="284" src="http://unlabel.s3.amazonaws.com/cache/ce/8d/ce8d87fa9dff88b6094e2bbe1006c1a4.jpg" width="284"></div>
                                <figcaption>
                                    <h2>product1</h2>
                                    <h3><small>Spyker</small></h3>
                                    <p><small>$66.00</small></p>
                                </figcaption>
                            </figure></a>
                        </div>
                    </article>
                </li>
                <li class="grid__item grid__item--s-2 grid__item--l-3 grid__item--xl-4 grid__item--xxl-5">
                    <article>
                        <div class="grid__itemInner">
                            <a class="u-block" href="/catalogue/tom-tailor-red-printed-v-neck-t-shirt_2/" title="TOM TAILOR Red Printed V Neck T-Shirt">
                            <figure>
                                <div class="img-container img-container--square"><img alt="TOM TAILOR Red Printed V Neck T-Shirt" height="284" src="http://unlabel.s3.amazonaws.com/cache/b6/10/b61046c5ea6c8c22e5983657039aac53.jpg" width="284"></div>
                                <figcaption>
                                    <h2>TOM TAILOR Red Printed ...</h2>
                                    <h3><small>Spyker</small></h3>
                                </figcaption>
                            </figure></a>
                        </div>
                    </article>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="u-desktop-only">
    <section class="triptych color-context color-context--brands">
        <div class="triptych__bg"></div>
        <div class="container container--m-pad">
            <div class="triptych__wrapper triptych__wrapper--thinner">
                <header class="triptych__header">
                    <h2 class="title title--destructured title--caps title--oneWordPerLine">More bra- nds</h2>
                </header>
                <div class="triptych__content">
                    <ul class="cols cols--m-3">
                        <li class="col">
                            <a class="triptych__itemLink" href="/partners/brand/vernolika-stores/">
                            <figure>
                                <div class="img-container img-container--portrait"><img alt="" src="http://unlabel.s3.amazonaws.com/Brands/img15.jpg"></div>
                                <figcaption>
                                    <p>Vernolika Stores</p>
                                    <p><small>Zephyrhills, FL, USA</small></p>
                                </figcaption>
                            </figure></a>
                        </li>
                        <li class="col">
                            <a class="triptych__itemLink" href="/partners/brand/brand-1/">
                            <figure>
                                <div class="img-container img-container--portrait"><img alt="" src="http://unlabel.s3.amazonaws.com/Brands/8166fnoijXL._SX522_.jpg"></div>
                                <figcaption>
                                    <p>Brand 1</p>
                                    <p><small>Valley Stream, NY, USA</small></p>
                                </figcaption>
                            </figure></a>
                        </li>
                        <li class="col">
                            <a class="triptych__itemLink" href="/partners/brand/store-1/">
                            <figure>
                                <div class="img-container img-container--portrait"><img alt="" src="http://unlabel.s3.amazonaws.com/Brands/716L5pSpUSL._SL1500_.jpg"></div>
                                <figcaption>
                                    <p>store 1</p>
                                    <p><small>Los Angeles, CA, USA</small></p>
                                </figcaption>
                            </figure></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

{% paginate collection.products by 12 %}

{% include 'breadcrumb' %}

<h1>{{ collection.tags }}</h1>

{% comment %}
  Use .grid--rev so that the collection tags appear below the products on mobile
{% endcomment %}
<div class="grid--rev">
  <div class="grid__item large--three-quarters">

    {% comment %}
      Different markup if a collection description exists
    {% endcomment %}
    {% if collection.description != blank %}
      <header class="section-header">
        <h1 class="section-header__title">{{ collection.title }}</h1>
        <div class="rte rte--header">
          {{ collection.description }}
        </div>
      </header>
      <hr>
      <div class="section-header">
        <div class="section-header__right">
          {% include 'collection-sorting' %}
        </div>
      </div>
    {% else %}
      <header class="section-header">
        <h1 class="section-header__title section-header__left">{{ collection.title }}</h1>
        <div class="section-header__right">
          {% include 'collection-sorting' %}
        </div>
      </header>
    {% endif %}

    {% comment %}
      Use class grid-uniform to have evenly sized columns clear
      each other properly at each breakpoint.
    {% endcomment %}
    <div class="grid-uniform">

      {% comment %}
        Loop through our products in the current collection.
        See the snippet 'product-grid-item' for the layout.
      {% endcomment %}
      {% for product in collection.products %}

        {% include 'product-grid-item' %}

      {% else %}

        {% if collection.handle == 'all' and current_tags == '' %}

          {% comment %}
            Add default products to help with onboarding for collections/all only
          {% endcomment %}
          {% unless emptyState %}
            {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
            {% assign emptyState = true %}
          {% endunless %}
          {% include 'onboarding-empty-collection' %}

        {% else %}

          {% comment %}
            If collection exists but is empty, display message
          {% endcomment %}
          <div class="grid__item">
            <p>{{ 'collections.general.no_matches' | t }}</p>
          </div>

        {% endif %}

      {% endfor %}

    </div>

    {% if paginate.pages > 1 %}
      <hr>
      <div class="pagination">
        {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
      </div>
    {% endif %}

  </div>

  <div class="grid__item large--one-quarter">
    {% include 'collection-sidebar' %}
  </div>
</div>

{% endpaginate %}
