<!-- /templates/collection.liquid -->
{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}
{% assign title_lowercase = collection.title | downcase %}

{{ title_lowercase }}
{% assign women = "women" %}
{% assign men = "men" %}

{% paginate collection.products by 12 %}
    
    {% if paginate.pages == paginate.current_page %}
        {% assign current_displayed = paginate.items | modulo:paginate.page_size %}
    {% else %}
        {% assign current_displayed = collection.products_count %}
    {% endif %}
    
    <div class="grid grid--borderTopLess color-context color-context--products">
        <div class="grid__sidebar u-desktop-only">
            <div class="categories nested-lists">
                <ul class="nested-lists__list"> 
                    {% include 'product-filter-desktop' %}
                </ul>
            </div>
        </div>
        <div class="grid__main">
            <div class="grid__banner"></div>
            <div class="grid__header">
                <div class="grid__headerTitle">
                    {% if title_lowercase == women or  title_lowercase == men %}
                        <h1 class="title title--caps">{{ collection.title }}</h1>
                    {% elsif title_lowercase != women %}
                        <h1 class="title title--caps">Women - {{ collection.title }}</h1>
                    {% elsif title_lowercase != men %}
                        <h1 class="title title--caps">Men - {{ collection.title }}</h1>
                    {% endif %}
                </div>
                <div class="grid__headerNav">
                    <div class="grid__headerNavGroup">
                        <a class="link link--thick u-mobile-only" href="#drawer-categories">Categories</a>
                        <div class="drawer drawer--right" id="drawer-categories">
                            <a class="drawer__backdrop" href="#close-drawer" title="Close Categories"></a>
                            <div class="drawer__frame">
                                <div class="drawer__header drawer__header--bar">
                                    <div class="drawer__headerContent">
                                        <span class="title title--small">Categories</span>
                                    </div><a class="drawer__close close" href="#close-drawer" title="Close Categories"></a>
                                </div>
                                <div class="drawer__scroller">
                                    <div class="drawer__content">
                                        <div class="nested-lists">
                                            <ul class="nested-lists__list drawer__list">
                                                {% include 'product-filter-mobile' %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid__headerNavGroup">
                        
                        <!-- sorting
                        <div>
                            <form>
                                <div class="select select--borderLess">
                                    <select>
                                        <option disabled selected value="">
                                            Sort By
                                        </option>
                                    </select>
                                </div>
                            </form>
                        </div> // sort -->
                        <div>
                            <strong>{{ current_displayed }}</strong>&nbsp;results
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid__content">
                <ol class="grid__list color-context color-context--products">
                    {% if collection.products_count > 0 %}
                        {% for product in collection.products limit:16 %}
                            {% for tag in product.tags %}
                                {% if tag == "men" %}
                                    <li class="grid__item grid__item--s-2 grid__item--l-3 grid__item--xl-4 grid__item--xxl-5">
                                        {% include 'product-grid-item' %}
                                    </li>
                               
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        <div class="grid__emptyMessage">
                            <p class="missing">No products for now.</p>
                        </div>
                    {% endif %}
                </ol>
            </div>
        </div>
    </div>

    {% include 'unlabel-paginate' %}
{% endpaginate %}
