<!-- /templates/page.about-us.liquid -->

<div class="about">
    <div class="container container--m-pad">
        <div class="about__header js-parallax">
            <div class="about__titleContainer js-parallax" data-speed="1.5" data-target=".is-smooth-scroll-compatible">
                <h2 class="title title--caps title--destructured"><span class="u-block">Our</span> <span class="u-block">sto-</span> <span class="u-block">&nbsp;&nbsp;ry</span></h2>
                <div class="logo">
                    <span class="logo__icon">{% include 'logo_dark' %}</span>
                </div>
            </div>
            <div class="about__descContainer">
                <p class="desc js-parallax" data-speed="-1.5" data-target=".is-smooth-scroll-compatible">
                Unlabel brings hard-working digital creatives and forward-thinking independent brands together. It’s about encouraging creatives to continue setting themselves apart by making unique, quality content, and championing brands whose products are diverse and distinct while focusing on small-scale, ethical production. 
                </p>
            </div>
        </div>
        <div class="about__story">
            <div class="about__storyDesc js-parallax" data-speed="1" data-target=".is-smooth-scroll-compatible">
                <p class="desc"><strong>Inspired by the independent fashion scenes of NYC and LA, Unlabel is a platform focused on authentic and unique online experiences. 
                </strong></p>
                                
                <p class="desc">We provide honest product reviews and your new favorite products through collaborations with creatives and products from independent brands.</p>
            </div>
            <div class="about__storyVisual js-parallax" data-speed="-1" data-target=".is-smooth-scroll-compatible"><img alt="About Visual" src="{{ 'about-kandace.jpeg' | asset_url }}"></div>
        </div>
        <div class="about__carousel carousel">
            <div class="swiper-container carousel_visualsSlider about__carouselVisualsSlider">
                <div class="swiper-wrapper js-parallax js-scroll" data-repeat>
                    {% for creator in linklists.creators.links limit:4 %}
                        <div class="swiper-slide">
                            <div class="visual visual--wideLandscape"><img alt="{{ creator.title }}" src="{{ creator.object.image | img_url: '1024x', crop: 'center' }}"></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="about__carouselFooter">
                <div class="swiper-container carousel_contentsSlider about__carouselContentsSlider">
                    <div class="swiper-wrapper">
                        {% for creator in linklists.creators.links limit:4 %}
                            <div class="swiper-slide">
                                <span class="carousel_contentItem title title--medium">Unlabel, where style<br>
                                is introduced by <a class="link link--thick" href="{{ creator.url }}">{{ creator.title }}</a></span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="swiper-container carousel__backgroundsSlider about__carouselBgSlider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="carousel__bgSlide" style="background-color: #EDDDDD;"></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="carousel__bgSlide" style="background-color: #DEEDEE;"></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="carousel__bgSlide" style="background-color: #DDE0ED;"></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="carousel__bgSlide" style="background-color: #F5E5D9;"></div>
                        </div>
                    </div>
                </div>
                <div>
                    <a class="carousel__btn carousel__btn--prev" href="#prev"><span class="fonticon fonticon--smallBox fonticon--carouselArrowLeft"></span></a><a class="carousel__btn carousel__btn--next" href="#next"><span class="fonticon fonticon--smallBox fonticon--carouselArrowRight"></span></a>
                </div>
            </div>
        </div>
        <div class="about__footer js-parallax js-scroll" data-repeat>
            <div class="logo">
                <span class="logo__icon">{% include 'logo_dark' %}</span>
            </div>
            <h2 class="title title--small">Style, Introduced.</h2>
        </div>
    </div>
</div>