<!-- /templates/product.liquid -->
{% comment %}

  Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
  and allow search engines to easily understand what the content is.

  For more information on these Scheme.org tags, visit:
    - http://schema.org/docs/gs.html

{% endcomment %}

{% assign brand_collection = product.vendor | handleize  %}
{% assign collection_size = collections[brand_collection].products_count %}
{% assign product_type_content = product.metafields.product_type.content %}


{% comment %}
    
    Getting the creator matched to this product to input product review
    information for current product

{% endcomment %}
{% for tag in product.tags %}
    {% if tag contains "creator-" %}
        {% assign strip_creator_prefix = tag | remove: "creator-" %}
    
        {% capture creator_tag %}
            {{ strip_creator_prefix }}
        {% endcapture %}
    {% endif %} 
{% endfor %}


{% assign creator = creator_tag | handleize %}

{% assign creator_city = collections[creator].metafields.location.city %}
{% assign creator_state_or_region = collections[creator].metafields.location.state_or_region | upcase %}
{% assign creator_country = collections[creator].metafields.location.country | upcase %}
{% assign creator_image = collections[creator].image %}
{% assign creator_description = collections[creator].description %}
{% assign creator_profile_url = collections[creator].url %}
{% assign creator_name = collections[creator].title %}

{% assign creator_height = collections[creator].metafields.creator_physical.height %}
{% assign creator_chest_or_bust = collections[creator].metafields.creator_physical.chest_or_bust %}
{% assign creator_hips = collections[creator].metafields.creator_physical.hips %}
{% assign creator_waist = collections[creator].metafields.creator_physical.waist %}
{% assign cm_conversion_factor = 2.54 %}

{% assign brand_shipping_notes_domestic = collections[brand_collection].metafields.brand_info.shipping_notes_domestic %}
{% assign brand_shipping_notes_international = collections[brand_collection].metafields.brand_info.shipping_notes_international %}
{% assign brand_shipping_po_box = collections[brand_collection].metafields.brand_info.shipping_po_box | upcase %}

{% assign brand_shipping_carrier = collections[brand_collection].metafields.brand_info.shipping_carrier | upcase %}
{% assign brand_days_to_fulfill_order = collections[brand_collection].metafields.brand_info.days_to_fulfill_order %}
{% assign brand_carrier_delivery_time = collections[brand_collection].metafields.brand_info.carrier_delivery_time%}

{% assign max_days = brand_days_to_fulfill_order | plus: brand_carrier_delivery_time | times: 86400 %}
{% assign min_days = 3 | times: 86400 %}

{% assign product_type = product.metafields.product_type.type %}
{% assign product_materials = product.metafields.product_materials.materials %}
{% assign creator_size_worn = product.metafields.creator_size_worn.size %}

<div class="product">
    <div class="container container--m-pad">
        <div class="product__overview c-mask">
            <div class="product__galleryContainer">
                <div class="gallery">
                    <div class="swiper-container gallery__larges ">
                        <ul class="swiper-wrapper">
                            {% for image in product.images %}
                                <li class="swiper-slide">
                                    <div class="gallery__largesImgContainer">
                                        <img alt="{{ image.alt | escape }}" src="{{ image.src | img_url: '1024x1024', crop: 'center' }}" />
                                    </div>
                                    {% comment %}<div class="gallery__largesImgContainer" style="background-image: url({{ image.src | img_url: 'large' }})"></div>{% endcomment %}
                                </li>
                            {% endfor %}
                        </ul>
                        {% comment %}<div class="product__exclusiveLabel">
                            Sponsored Content
                        </div>{% endcomment %}
                    </div>
                    <div class="swiper-container gallery__thumbs">
                        <div class="swiper-wrapper">
                            {% for image in product.images %}
                                <a class="gallery__link swiper-slide" data-slide-to="{{ image.position | minus: 1}}" href="#">
                                    <div class="img-container">
                                        <img alt="{{ image.alt | escape }}" src="{{ image.src | img_url: 'large' }}" />
                                    </div>
                                </a> 
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="product__content">
                <div>
                    <h1 class="title product__title">{{ product.title }}</h1>
                    <a href="{{ collections[brand_collection].url }}">
                        <h2 class="product__brand uppercase">{{ product.vendor }}</h2>
                    </a> 
                </div>
                <div>
                    <p class="product__price">{% include 'product-price' %}</p>
                </div>
                <div>
                    <div id="productActions" class="product__actions">
                        <form action="/cart/add" class="form add-to-basket" data-cart-submit="data-cart-submit">
                            <div class="basket-form__row">
                                {% if product.has_only_default_variant %}
                                    
                                {% else %}
                                    <div class="basket-form__col">
                                        <div class="form-group form__group">
                                            <label class="form__label control-label required" for="id">Variant</label>
                                            <div class="form__field">
                                                <div class="select">
                                                    <select id="productVariants" class="form-control" name="id">
                                                        {% for product_option in product.options_with_values %}
                                                        {% for variant in product.variants %}
                                                            {% if variant.available %}
                                                                {% comment %}
                                                                  Note: if you use option_selection.js, your <select> tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
                                                                {% endcomment %}
                                       
                                                                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-variant-price="{{ variant.price | money }}" data-stock-count="{{ variant.inventory_quantity }}" value="{{ variant.id }}">{{ product_option.name }}: {{ variant.title }}</option>
                                                            {% else %}
                                                                <option selected="selected" data-variant-price="{{ variant.price | money }}" data-stock-count="{{ variant.inventory_quantity }}" value="{{ variant.id }}" disabled="disabled">
                                                                  {{ product_option.name }}: {{ variant.title }}
                                                                </option>
                                                            {% endif %}
                                                        {% endfor %}
                                                         {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if product.available %}
                                    <div class="basket-form__col">
                                        <button class="cta cta--dark btn-add-to-basket" id="addToCart" type="submit">Add to cart</button>
                                    </div>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                    <p class="product__sizeWorn stock__count"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="product__details">
        <div class="grid grid--inverted grid--borderBottomLess">
            <div class="grid__main">
                <div class="product__descContainer">
                    {% if product_type == 'commission' or product_type 'unlabel_inventory'  %}
                        <p class="subtitle">Product Description</p>
                    {% else %}
                        <p class="subtitle">Product Review</p>
                    {% endif %}
                    <div class="desc">
                        {{ product.description }}
                        
                        {% if creator_size_worn != 0 %}
                            <p class="product__sizeWorn"><span style="font-family: 'FaroWeb-BoldLucky';">Size Worn</span>: {{ creator_size_worn }} </p>
                        {% endif %}
                        {% comment %}{% if product_materials != blank %}
                            <p class="product__sizeWorn">
                                <span style="font-family: 'FaroWeb-BoldLucky';">Product Materials</span>: {{ product_materials }}
                            </p>
                        {% endif %}{% endcomment %}
                    </div>
                
                </div>
            </div>
            <div class="grid__sidebar">
                <div class="grid__sidebarWidget">
                    <div class="product__ref">
                        ID #{{ product.id }}
                    </div>
                </div>
                <div class="grid__sidebarWidget">
                    <div class="share">
                        <p class="share__title">Share</p>
                        <ul class="share__list">
                            <li class="share__item">
                                <a href="mailto:?subject={{ product.title }}&body=https://unlabel-us.myshopify.com{{ product.url }}" title="Share by Email"><span class="fonticon fonticon--email fonticon--smallBox"></span></a>
                            </li>
                            <li class="share__item">
                                <a href="https://www.facebook.com/dialog/share?app_id=1421811444777881&display=popup&href=https://unlabel-us.myshopify.com{{ product.url }}&redirect_uri=https://unlabel-us.myshopify.com{{ product.url }}" target="_blank" title="Share on Facebook"><span class="fonticon fonticon--facebook fonticon--smallBox"></span></a>
                            </li>
                            <li class="share__item">
                                <a href="https://twitter.com/share?url=https://unlabel-us.myshopify.com{{ product.url }}&text={{ product.title }}" target="_blank" title="Share on Twitter"><span class="fonticon fonticon--twitter fonticon--smallBox"></span></a>
                            </li>
                            <li class="share__item">
                                <a href="http://pinterest.com/pin/create/button/?url=https://unlabel-us.myshopify.com{{ product.url }}&description={{ product.title }}" target="_blank" title="Share on Pinterest"><span class="fonticon fonticon--pinterest fonticon--smallBox"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% if product_type_content == 'brand_curated' or product_type_content == blank %}
        

    {% else %}
        {% if product.metafields.creator_video.video != blank %}
            <section class="home__story" style="margin: 0; border-bottom: none;">
                <div class="container">
                    <div class="home__storyWrapper">
                        {% comment %}<h2 class="subtitle js-parallax js-scroll" data-repeat="">Product Review</h2>{% endcomment %}
                        <div class="desc home__storyDesc" style="margin:0;">
                            <video id="player" controls>
                                <source src="{{ product.metafields.creator_video.video }}" type="video/mp4">
                                <source src="{{ product.metafields.creator_video.video }}" type="video/webm">
                            </video>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

       {% comment %} {% if product.metafields.creator_video.video != blank %}
            <div class="color-context color-context--product js-scroll js-parallax" data-repeat style="border-top: 1px solid #f0f0f0;">
                <article class="review" style="background-color:white;">
                    <div class="container container--pad">
                        <div class="cols cols--m-2 cols--m-gutter32">
                            <div class="col" style="margin: 0 auto">
                                    <figure>
                                        <div class="img-container img-container--landscape" style="padding-bottom: 0;">
                                          
                                            <video 
                                                id="player"
                                                width="100%" 
                                                height="auto" 
                                                loop="" 
                                                muted=""
                                                controls="controls"
                                            >

                                                <source src="{{ product.metafields.creator_video.video }}" type="video/mp4">
                                                <source src="{{ product.metafields.creator_video.video }}" type="video/webm">
                                            </video>
                                        </div>
                                    </figure>
                             
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        {% endif %}{% endcomment %}
       

        <section class="color-context color-context--product js-scroll js-parallax" data-repeat>
            <article class="review">
                <div class="container container--pad">
                    <div class="cols cols--m-2 cols--m-gutter32">
                        <div class="col">
                            <a class="u-block" href="{{ creator_profile_url }}">
                                <figure>
                                    <div class="img-container img-container--landscape">
                                        <img alt="{{ creator_name }}" src="{{ creator_image | img_url: '1024x', crop: 'top' }}" />
                                    </div>
                                    <figcaption>
                                        <p>{{ creator_name }}</p>
                                        <p><small><span class="uppercase">{{ creator_city }}</span>, {{ creator_state_or_region }}, {{ creator_country }}</small></p>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                        <div class="col">
                            <div class="review__content">
                                <h2 class="subtitle">UNLABEL Creator Info</h2>
                                {% comment %}<p>by {{ creator_name }}</p>{% endcomment %}
                                <div class="desc">
                                    {% comment %}{{ product.metafields.product_review.review }}{% endcomment %}
                                    {{ creator_description }}
                                </div>

                                <div class="sizechart">
                                    <ul class="sizechart__list">
                                        <li class="sizechart__item">Height: <span data-sizechart-unit="cm">{{ creator_height | times: cm_conversion_factor | ceil }} cm</span> <span data-sizechart-unit="inch">{{ creator_height }}"</span></li>
                                        
                                        {% if creator_hips > 0 %}
                                            <li class="sizechart__item">Hips: <span data-sizechart-unit="cm">{{ creator_hips | times: cm_conversion_factor | ceil }} cm</span> <span data-sizechart-unit="inch">{{ creator_hips }}"</span></li>
                                        {% else %}
                                        
                                        {% endif %}
                                        
                                        <li class="sizechart__item">Waist: <span data-sizechart-unit="cm">{{ creator_waist | times: cm_conversion_factor | ceil  }} cm</span> <span data-sizechart-unit="inch">{{ creator_waist }}"</span></li>
                                        
                                        {% if creator_chest_or_bust  > 0 %}
                                            <li class="sizechart__item">Chest/Bust: <span data-sizechart-unit="cm">{{ creator_chest_or_bust | times: cm_conversion_factor | ceil }} cm</span> <span data-sizechart-unit="inch">{{ creator_chest_or_bust }}"</span></li>
                                         {% else %}
                                        
                                        {% endif %}
                                        
                                      {% comment %}  {% if creator_size_worn != blank %}
                                            {% assign creator_size_worn = product.metafields.creator_size_worn.size %}
                                            <li class="sizechart__item">Size worn: {{ creator_size_worn }}</li>
                                        {% endif %}{% endcomment %}
                                      
                                    </ul>
                                    <div class="sizechart__toggles">
                                        <div class="toggle">
                                            <a class="toggle__label toggle__label--left" data-toggle-value="cm" href="#">Centimeters</a> <a class="toggle__slider" data-toggle-values="cm,inch" href="#"></a> <a class="toggle__label toggle__label--right" data-toggle-value="inch" href="#">Inches</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>

    {% endif %}
    
    <hr>
    <nav class="nav nav--internal">
        <ul class="nav__list">
            {% if product_type == 'commission' %}
                <li class="nav__item">
                    <a class="link link--thick" href="#shipping-drawer">Shipping Info</a>
                </li>

            {% elsif product_type == 'unlabel_inventory' %}
            
                <li class="nav__item">
                    <a class="link link--thick" href="#unlabel-shipping-drawer">Shipping Info</a>
                </li>

            {% endif %}
                <li class="nav__item">
                    <a class="link link--thick" href="#returns-drawer">Returns Policy</a>
                </li>

            {% if product_type_content == 'brand_curated' or product_type_content == blank %}

            {% else %}
                <li class="nav__item">
                    <a class="link link--thick" href="{{ creator_profile_url }}">{{ creator_name }}'s Profile</a>
                </li>

            {% endif %}
        </ul>
    </nav>

    {% if collection_size >= 2 %}
        <section class="triptych color-context color-context--products">
            <div class="container container--m-pad">
                <div class="triptych__wrapper triptych__wrapper--taller">
                    <header class="triptych__header">
                        <h2 class="title title--caps title--oneWordPerLine">More products</h2>
                    </header>
                    <div class="triptych__content">
                        <ul class="cols cols--m-3">
                            {% assign exclude_current_product = product.title %}

                            {% for collection in product.collections %}
                            
                                {% if collection.title == product.vendor %}
                                
                                    {% capture collection_url %}
                                        {{ collection.url }}
                                    {% endcapture %}
                                      
                                    {% for product in collection.products limit:4 %}
                                            
                                        {% unless product.title contains exclude_current_product %}
                                            {% if product.available %}
                                                <li class="col">
                                                    {% include 'product-grid-item' %}
                                                </li>
                                            {% endif %}
                                        
                                        {% endunless %}
                                    {% endfor %}

                                {% endif %}

                            {% endfor %}
                        </ul>
                    </div>
                    <nav class="triptych__nav">
                        <a class="cta" href="{{ collection_url }}">More from {{ product.vendor }}</a>
                    </nav>
                </div>
            </div>
        </section>
    {% else %}

    {% endif %}
</div>

<script>

    // Stock level indicator
    var productActionsContainer = $('#productActions');
    var productVariantsSelector = productActionsContainer.find('select');
    var productVariantOptions = productVariantsSelector.find('option:selected');
    var productVariantStock = productVariantOptions.data('stock-count');

    var productVariantStockIndicator = $('.stock__count');
    var productPrice = $('.product__price');

    var stockIndicatorDisplay = function( el, selector, stock_count ) {
        // el         => element to update
        // selector   => current selected variant in <select> tag
        //stock_count => current available stock 

        if ( selector.length == 1) {
            if(stock_count >= 3) {
                el.text('In Stock');
            
            } else if( stock_count < 3 && stock_count > 0) {
                el.text('Low in stock - ' + stock_count + ' left');
            
            } else if ( stock_count == 0 ) {
                el.text('Out of stock');
            }
        }
    };

    // Initial State
    stockIndicatorDisplay(productVariantStockIndicator, productVariantOptions, productVariantStock);

    productVariantsSelector.change(function() {

        var $this =  $(this);
        var productVariantOptions = $this.find('option:selected');
        var productVariantStock = productVariantOptions.data('stock-count'); 
        var productVariantPrice = productVariantOptions.data('variant-price'); 

        productPrice.text(productVariantPrice);

        stockIndicatorDisplay(productVariantStockIndicator, productVariantOptions, productVariantStock);
    });


    $(document).on('cart.requestComplete', function(event, cart) {
        
        new unlabel_app.Drawer({
            el: document.getElementById("CartDrawer"), 
            options: {
                closeSelector: '.drawer__close, .drawer__backdrop, a[href="#close-drawer"]',
                addToCartProductPage: true
            }
        });
   
    });
</script>


{% comment %}{% if product_type == 'commission' %}
    
    {% include 'shipping-policy' %}
         
{% elsif product_type == blank %}
            
    {% include 'unlabel-shipping-policy' %} 

{% endif %}{% endcomment %}




